@media (min-width: 768px) {
  .promo {
    &__image {
      width: 65%;
      height: 400px;
      margin: 0 auto;
    }

    &__statistic {
      &-item {
        &:last-child {
          display: flex;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1440px;
  }

  .title {
    font-size: 58px;
    line-height: 79px;
  }

  .descr {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  // HEADER
  .header {
    &__contacts {
      gap: 30px;

      &-label {
        margin-left: 10px;
        display: block;
        font-size: 14px;
        color: #ffffff;
      }
    }

    .subheader {
      &__actions {
        .call-btn {
          order: 2;
          margin-right: 14px;
          width: 170px;
          height: 50px;
          border-radius: 5px;
          background-color: $green;

          &__img {
            margin-right: 10px;

            svg {
              width: 30px;
              height: 27px;
            }
          }

          &__text {
            display: inline;
            color: #ffffff;
            font-weight: 700;
            font-size: 18px;
          }
        }

        .burger-menu {
          display: none;
        }

        .menu {
          position: static;
          order: 1;
          @include flex_space-between;
          flex-direction: row;
          width: 627px;
          height: 20px;
          padding: 0;
          margin-right: 35px;
          background-color: transparent;
          opacity: 1;
          overflow-y: hidden;
          transition: none;

          &__list {
            @include flex_space-between;
            flex-grow: 1;
          }

          &__item {
            color: $text-black;
            font-weight: 700;
            opacity: 1;
            border-bottom: none;

            &:hover {
              color: $green;
            }

            .icon-arrow-icon:before {
              color: $text-black;
            }

            &.active {
              color: $green;

              .icon-arrow-icon:before {
                color: $green;
              }
            }
          }

          &__link {
            span {
              margin-left: 5px;
            }
          }

          .submenu {
            display: none;
            position: absolute;
            z-index: 10;
            padding: 20px 7px 7px;
            background-color: #ffffff;
            &__item {
              max-width: 100px;
              color: $text-grey;
              line-height: 25px;
              opacity: 1;
            }

            &__link {
              padding: 5px 0;
              border-bottom: 1px solid $text-grey;

              &:hover {
                background-color: $green;
                color: #ffffff;
              }
            }
          }

          &__footer {
            display: none;
          }
        }
      }
    }
  }

  // PROMO
  .promo {
    &__wrapper {
      position: relative;
      padding-top: 133px;
      padding-bottom: 100px;
      background: linear-gradient(
        45deg,
        rgba(0, 115, 12, 0.81) -39.14%,
        rgba(251, 246, 238, 0) 90.23%
      );
    }

    &__image {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 55%;
      height: 95%;
    }

    &__content {
      max-width: 39%;
    }

    &__subtitle {
      margin-top: 0;
      &-text {
        font-size: 16px;
      }
    }

    &__title {
      margin-top: 20px;
    }

    &__descr {
      margin-top: 20px;
      font-size: 18px;
      line-height: 30px;
    }

    &__actions {
      margin-top: 50px;
      flex-direction: row;
      justify-content: start;
      gap: 30px;
    }

    &__button {
      width: 175px;
      margin: 0;
    }

    &__how-it-works {
      &-link {
        line-height: 40px;
        color: $text-grey;
      }
      svg {
        transform: translateY(-1px);

        path {
          fill: $text-grey;
        }
      }
    }

    &__statistic {
      justify-content: flex-start;
      gap: 10px;
      margin-top: 50px;

      &-item {
        @include flex_center;
        gap: 10px;
        width: 149px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $text-black;
        background: none;
        border-radius: 32px;

        span {
          @include flex_center;
          flex-shrink: 0;
          width: 50px;
          height: 50px;
          font-size: 15px;
          line-height: 20px;
          border-radius: 35px;
          background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
        }
      }
    }
  }

  // SERVICES
  .services {
    &__wrapper {
      padding-top: 100px;
    }

    &__descr {
      margin-top: 30px;
    }

    &__items {
      gap: 30px;
      margin-top: 50px;
    }

    .service {
      padding: 60px 43px;
      padding-top: 180px;
      max-width: 330px;

      &__title {
        font-size: 24px;
        line-height: 33px;
        text-align: center;
      }

      &__description {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
      }

      &__img {
        left: 50%;
        transform: translateX(-50%);
        top: 26px;
        justify-content: center;
        padding-left: 0;
        width: 176px;
        height: 145px;

        &-icon {
          padding-top: 0;
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .header {
    .subheader {
      &__actions {
        .menu {
          margin-right: 84px;
        }
      }
    }
  }

  .promo {
    &__image {
      width: 1000px;
    }

    &__wrapper {
      background: url("../img/plants.png") left -10px bottom 60px/180px no-repeat,
        linear-gradient(45deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
    }
  }

  .services {
    &__wrapper {
      background: url("../img/services-bg.png") right bottom 42%/235px no-repeat;
    }
  }
}
