@mixin flex_space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin image_positioning {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
