.working-process {
  &__wrapper {
    padding-top: 50px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 710px;
    margin: 30px auto 0;
  }

  &__item {
    position: relative;
    max-width: 345px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.05);
      background: $green;

      .working-process__item-bg-green {
        display: none;
      }

      .working-process__item-bg-white {
        display: block;
      }

      .working-process__item-img {
        svg {
          path {
            fill: #ffffff;
          }
        }
      }

      .working-process__item-title,
      .working-process__item-description,
      .working-process__item-number {
        color: #ffffff;
      }
    }

    &-bg-green,
    &-bg-white {
      position: absolute;
      height: 110px;
      top: 49px;
      right: 41px;
      opacity: 0.05;
      img {
        height: 100%;
        object-fit: contain;
      }
    }

    &-bg-white {
      display: none;
    }

    &-img {
      width: 50px;
      height: 50px;

      svg {
        path {
          transition: all 0.2s;
        }
      }
    }

    &-number {
      position: absolute;
      top: 20px;
      right: 20px;
      font-weight: 800;
      font-size: 45px;
      line-height: 55px;
      color: #e3e3e3;
    }

    &-title {
      margin-top: 20px;
      font-weight: 700;
      color: $text-black;
      transition: inherit;
    }

    &-description {
      margin-top: 10px;
      font-size: 14px;
      line-height: 22px;
      transition: inherit;
    }
  }

  &__footer {
    margin: 50px auto 0;
    padding: 50px 32px 5px 41px;
    width: 100%;
    height: 224px;
    background: url(../img/working-process-bg.jpg) center/cover no-repeat;

    &-text {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #ffffff;
    }
  }

  &__button {
    margin: 30px auto 0;
    gap: 10px;

    &:hover {
      .working-process__button-img {
        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }

    &-img {
      width: 20px;
      height: 20px;
      svg {
        path {
          fill: $green;
        }
      }
    }

    &-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
    }
  }
}
