@import "utils/reset";
@import "base/variables";
@import "base/mixins";
@import "fonts/fonts";
@import "fonts/icons";

* {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: $text-grey;
}

.page {
  max-width: 1928px;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@import "./blocks/title";
@import "./blocks/section-description";
@import "./blocks/button";
@import "./blocks/header";
@import "./blocks/promo";
@import "./blocks/services";
@import "./blocks/about";
@import "./blocks/choose-us";
@import "./blocks/working-process";

@import "./base/media";
